* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-repeat: no-repeat;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Roboto-Light;
  src: url("/vendor/fonts/Roboto-Light.ttf");
}
