body {
  background-color: #262626;
}

main {
  margin: auto;
}

.clear-both {
  display: block;
  clear: both;
  width: 100%;
}

.hidden {
  display: none !important;
}

.hidden-opacity {
  opacity: 0 !important;
}

#events-page main,
#result-page main,
#bestlap-page main,
#driver-page main {
  margin-top: 100px;
  padding: 0 150px;
}

#event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#event-container .single-event {
  margin-bottom: 50px;
}

.event {
  width: 460px;
}

.event .title {
  font-size: 30px;
  color: #a8a8a8;
  text-align: center;
  background-color: #353535;
  padding: 10px;
  font-family: Roboto-Light, Arial;
  word-wrap: break-word;
}

.live-event .title {
  color: #ff5757;
}

.event .server-container {
  padding: 8px 10px;
  background-color: #353535;
  color: #fff;
  border-top: 2px solid #535353;
}

.event .server {
  float: left;
  font-family: Roboto-Light, Arial;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #6db4df;
  font-weight: bold;
}

@keyframes live-color {
  0% {
    background-color: #ea4949;
  }
  50% {
    background-color: transparent
  }
  100% {
    background-color: #ea4949;
  }
}

.event .active {
  animation-name: live-color;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

.event .live {
  width: 14px;
  height: 14px;
  float: left;
  margin-top: 3px;
  margin-right: 7px;
  border-radius: 8px;
}

.event .team {
  float: right;
  width: 16px;
  height: 16px;
  background-image: url("/images/team.png");
  background-size: cover;
}

.event .track {
  clear: both;
  border: 5px solid #353535;
}

.track .detail {
  float: left;
}

.time .tag {
  text-transform: uppercase;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: bold;
}

.time .date {
  float: right;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: bold;
}

.event .time {
  background-color: #353535;
  padding: 5px 10px;
}

.event .disabled {
  opacity: .45;
}

.detail {
  background-color: #4a435e;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.detail p {
  font-size: 14px;
  text-transform: uppercase;
}

.detail .name {
  float: left;
}

.detail .length {
  float: right;
}

.track .preview {
  text-align: center;
  padding: 10px;
}

.preview img {
  height: 180px;
}

#header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: #262626;
}

#lb-page header {
  padding: 20px 50px 15px 50px;
  border-bottom: 2px solid #464646;
}

#lb-page #home-link {
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  text-align: center;
}

#home-link a {
  color: #a8a8a8;
  padding: 8px 12px;
  display: inline-block;
  background: #1e1e1e;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

#home-link a:hover {
  color: #6db4df;
}

#event-detail .title {
  color: #ff5757;
  font-size: 30px;
  font-family: Roboto-Light;
  max-width: 850px;
}

#event-detail .server {
  color: #6db4df;
  font-size: 14px;
  max-width: 850px;
  margin-top: 5px;
}

#event-detail .timing {
  margin-top: 5px;
}

#event-detail .tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #797979;
  display: inline-block;
  width: 150px;
  margin-left: 20px;
}

#event-detail .date {
  color: #fff77f;
  font-weight: bold;
  font-size: 14px;
}

#track-condition .tag {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  text-align: right;
}

#track-condition .value {
  color: #fff77f;
  font-size: 14px;
  max-width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

#track-preview img {
  height: 80px;
}

#track-detail>div {
  float: right;
}

#track-condition {
  padding-top: 5px;
  margin-right: 10px;
  border-right: 1px dotted #797979;
  padding-right: 10px;
}

#track-preview {
  text-align: center;
}

#track-preview .name,
#track-preview .country,
#track-preview .length {
  text-align: center;
  color: #fff77f;
  font-size: 14px;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#event-detail .timing .disabled {
  opacity: .45;
}

.timing .active {
  width: 14px;
  height: 14px;
  float: left;
  border-radius: 7px;
  animation-name: live-color;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  margin-top: 3px;
  position: absolute;
}

#header-middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#remaining .remain-time,
#remaining .remain-laps {
  font-size: 35px;
  color: #2db52d;
  margin-top: 25px;
  display: inline-block;
  width: 180px;
  text-align: center;
  font-weight: bold;
}

#tab-standings {
  padding-top: 10px;
  padding-bottom: 20px;
}

#race-feed {
  display: none;
  padding: 20px 0 20px 30px;
  border-left: 2px solid #464646;
  width: 400px;
}

#board-header td,
#bestlaps-header td {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}

#board-body td,
#bestlaps-body td {
  color: #cccaca;
  font-size: 16px;
  padding: 10px 5px;
}

.lb-pos,
.lb-hr-pos {
  width: 55px;
  padding-left: 8px !important;
  font-weight: bold;
  text-align: left;
}

.lb-hr-pos {
  text-align: center;
}

.lb-pos .pos {
  width: 30px;
  display: inline-block;
}

.lb-driver,
.lb-hr-driver {
  padding-right: 8px !important;
}

.lb-pos,
.lb-driver {
  border-right: 2px solid #464646;
}

.lb-status,
.lb-hr-status {
  width: 30px;
}
.lb-status {
  border-right: 2px solid #464646;
  text-align: center;
}

.lb-car-class,
.lb-hr-car-class {
  width: 70px;
  text-align: center;
}

.lb-car,
.lb-hr-car {
  width: 280px;
  max-width: 280px;
}

.lb-team-no,
.lb-hr-team-no {
  width: 55px;
  font-weight: bold;
}

.lb-team,
.lb-hr-team {
  width: 200px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lb-driver,
.lb-hr-driver {
  width: 180px;
  max-width: 180px;
  color: #797979;
}

.lb-car,
.lb-driver {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lb-best-lap,
.lb-last-lap,
.lb-gap,
.lb-interval,
.lb-sec1,
.lb-sec2,
.lb-sec3,
.lb-laps {
  font-family: Roboto-Light;
  font-size: 15px !important;
}

#board-header td:last-child,
#board-body td:last-child {
  padding-right: 8px;
}

.lb-best-lap,
.lb-hr-best-lap,
.lb-last-lap,
.lb-hr-last-lap {
  width: 80px;
  text-align: right;
}

.lb-gap,
.lb-hr-gap {
  width: 85px;
  text-align: right;
}

.lb-interval,
.lb-hr-interval {
  width: 80px;
  text-align: right;
}

.lb-sec1,
.lb-hr-sec1,
.lb-sec2,
.lb-hr-sec2,
.lb-sec3,
.lb-hr-sec3 {
  width: 90px;
  text-align: right;
}

.lb-laps,
.lb-hr-laps {
  width: 50px;
  text-align: right;
}

.lb-crashes,
.lb-hr-crashes {
  width: 85px;
  text-align: right;
}

.lb-hr-crashes {
  text-align: center;
}

.car-badge {
  display: inline-block;
  padding-left: 30px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 250px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

#board-body tr:nth-child(even),
#bestlaps-body tr:nth-child(even) {
  background-color: #2f2f2f;
}

#header-dummy {
  margin-top: 168px;
}

#lb-page main {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}

#lb-page footer {
  border-top: 2px solid #464646;
}

.purple-sec {
  color: #d956d9 !important;
}

.red-sec {
  color: #ff5757 !important;
}

.green-sec {
  color: #59f459 !important;
}

.status-green {
  background-color: #2db52d;
}

.status-yellow {
  background-color: #fff77f;
}

.status-red {
  background-color: #e34e4e;
}

.status-chequered {
  background-color: #fff;
  border-top: 7px solid #575757;
  border-bottom: 7px solid #575757;
  border-right: 7px solid #fff;
  border-left: 7px solid #fff;
  transform: rotate(45deg);
  width: 0 !important;
  height: 0 !important;
}

.lb-status .status {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

#race-feed .title {
  color: #7cceff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #464646;
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 10px;
}

#race-feed #feeds {
  margin-top: 15px;
}

#feeds li {
  color: #e3e3e3;
  padding: 2px 0;
}

.car-class-0 {
  color: #32D296 !important;
}

.car-class-0-bg {
  background-color: #32D296;
}

.car-class-1 {
  color: #89a2d2 !important
}

.car-class-1-bg {
  background-color: #89a2d2;
}

.car-class-2 {
  color: #EC6CBB !important;
}

.car-class-2-bg {
  background-color: #EC6CBB;
}

.car-class-3 {
  color: #EF2D56 !important;
}

.car-class-3-bg {
  background-color: #EF2D56;
}

.car-class-4 {
  color: #E38D59 !important;
}

.car-class-4-bg {
  background-color: #E38D59;
}

#message,
#track-missing,
#event-missing {
  color: #cccaca;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  background: #db303082;
  margin: 10px 0;
  text-transform: capitalize;
}

#message a {
  color: #0f9cf0;
}

#common-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #424242;
  height: 50px;
  background-color: #1e1e1e;
}

#common-header ul {
  padding: 0 150px;
}

#common-header li {
  float: left;
  line-height: 50px;
  padding: 0 25px;
}

#common-header li.active {
  border-bottom: 3px solid #6db4df;
}

#common-header li:first-child {
  padding-left: 0;
}

#common-header li:last-of-type {
  float: right;
}

#common-header li:last-of-type a {
  text-transform: none;
  color: #ff5757;
}

#common-header li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #a8a8a8;
  transition: color .3s;
}

li a.red {
  color: #ff5757 !important;
}

#common-header li a:hover {
  color: #7cceff;
}

#result-event .track-image {
  height: 100px;
}

#result-event #track-info {
  margin-top: 15px;
}

#result-event #track-detail .single-track-info {
  text-align: right;
  color: #fff77f;
  font-size: 14px;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

#result-event #track-detail .name {
  color: #ff5757;
}

#result-sidebar li {
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
  transition: background-color, color 0.2s;
}

#result-sidebar .active {
  border-left: 2px solid #6db4df;
  background-color: #353535;
}

#result-sidebar li:first-child {
  padding-top: 10px;
}

#result-sidebar li:last-child {
  padding-bottom: 10px;
}

#result-sidebar li:hover {
  background-color: #353535;
  cursor: pointer;
}

#select-session select,
#event-param select,
#track-param select,
#cars-param select,
#entries-param select,
.red-select {
  width: 200px;
  padding: 10px 5px;
  border-color: transparent;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ff5757;
  border-radius: unset;
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #353535 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDUgNSA1LTUiIGZpbGw9IiNhYWFhYWEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat 90% 50%;
}

#select-session option,
#event-param option,
#track-param option,
#cars-param option,
#entries-param option,
.red-select option {
  color: #aaa;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 5px;
}

#result-main {
  margin-left: 50px;
}

#result-event {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #464646;
  padding-bottom: 15px;
}

#session-count .tag {
  margin-left: 0;
}

#session-count .value {
  color: #fff77f;
  text-transform: uppercase;
  font-size: 14px
}

#session-count .tag {
  margin-right: 30px;
  width: auto;
}

#session-count {
  margin-top: 40px;
}

#result-main-tabs {
  margin-bottom: 40px;
}

#result-main-tabs li,
#lb-tabs span {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
  transition: background-color, color 0.2s;
}

#result-main-tabs li:last-child {
  padding: 0;
}

#result-main-tabs .active,
#lb-tabs .active {
  border-bottom: 2px solid #6db4df;
  background-color: #353535;
}

#result-main-tabs li:hover,
#lb-tabs span:hover {
  background-color: #353535;
  cursor: pointer;
}

#session-summary {
  margin-top: 40px;
  border-right: 2px solid #464646;
}

#session-summary .tag {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 90px;
  float: left;
}

#session-summary>div {
  margin-bottom: 10px;
}

#session-summary .value {
  color: #fff77f;
  font-size: 14px;
  float: left;
  width: 125px;
  padding-right: 5px;
  word-break: break-word;
  text-transform: capitalize;
}

#session-summary .duration {
  border-bottom: 1px dotted #464646;
  padding-bottom: 10px;
}

#result-tab .position {
  padding: 0 20px;
}

#result-1 .position {
  font-size: 70px;
}

#result-2 .position {
  font-size: 60px;
}

#result-3 .position {
  font-size: 50px;
}

#final-position .result {
  width: 200px;
  text-align: center;
  margin-right: 20px;
}

#final-position .podium {
  color: #6db4df;
  margin-bottom: 10px;
  border-bottom: 5px solid #6db4df;
  width: 120px;
  margin: auto;
}

#final-position .driver {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#sectors-tab>table {
  margin-bottom: 40px;
}

.sectors-best-title {
  color: #6db4df;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.sec-hr-pos,
.sec-pos,
.st-hr-pos,
.st-pos {
  width: 40px;
  font-weight: bold;
  text-align: left;
  padding-left: 8px !important;
}

.sec-hr-car-class,
.sec-car-class {
  width: 70px;
  text-align: center;
}

.sec-hr-car,
.sec-car {
  width: 280px;
  max-width: 280px;
}

.sec-pos,
.st-pos,
.sec-driver {
  border-right: 2px solid #464646;
}

.sec-hr-sec,
.sec-sec,
.sec-hr-gap,
.sec-gap,
.sec-hr-interval,
.sec-interval {
  width: 90px;
  text-align: right;
}

.sec-hr-interval,
.sec-interval,
.st-hr-total,
.st-total {
  padding-right: 8px !important;
}

.sec-sec,
.sec-gap,
.sec-interval {
  font-family: Roboto-Light;
  font-size: 15px !important;
}

.sec-hr-driver,
.sec-driver {
  width: 180px;
  max-width: 180px;
  padding-left: 10px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sec-header td,
#standings-header td {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}

.sec-body td,
#standings-body td {
  padding: 10px 5px;
  color: #cccaca;
  font-size: 16px;
}

.sec-body tr:nth-child(even),
#standings-body tr:nth-child(even) {
  background-color: #2f2f2f;
}

.st-hr-valid-laps,
.st-valid-laps {
  width: 70px;
  text-align: right;
}

.st-hr-total,
.st-total {
  width: 85px;
  text-align: right;
}

.st-valid-laps,
.st-finish-at,
.st-total {
  font-family: Roboto-Light;
  font-size: 15px !important;
}

.st-hr-valid-laps,
.st-valid-laps {
  width: 65px;
  text-align: right;
}

.st-hr-finish-at,
.st-finish-at {
  width: 250px;
  text-align: right;
}

#standings {
  margin-bottom: 40px;
}

#stints-tab {
  width: 1200px;
}

.stint-driver {
  padding: 10px;
  background: #393939;
  cursor: pointer;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 9px solid #a8a8a8;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.rotate-180-clock {
  transform: rotate(180deg);
}

.stint-driver>div {
  margin-right: 20px;
  color: #aaa;
}

.stint-driver .stint-driver-name {
  color: #aaa;
  border: none;
  width: 230px !important;
  max-width: 230px !important;
}

.stint-driver .lb-car {
  width: auto;
  max-width: none;
}

.stint-driver .car-name {
  width: 320px !important;
  max-width: 320px !important;
}

.stint-summary {
  padding: 10px 0;
}

.stint-summary li {
  float: left;
}

.bd-stint-laps tr:nth-child(even) {
  background-color: #2f2f2f;
}

.stint-summary .st-tag {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #797979;
}

.stint-summary .st-value {
  margin-right: 40px;
  color: #fff77f;
  font-size: 14px;
  display: inline-block;
  vertical-align: bottom;
  border-right: none;
  width: auto;
}

.driver-stint {
  padding: 30px;
}

.driver-stints {
  margin-bottom: 50px;
  border-left: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-right: 2px solid #393939;
}

.stint-laps {
  margin-top: 10px;
}

.stint-laps td {
  padding: 10px 5px;
}

.bd-stint-laps {
  color: #cccaca;
}

.hr-stint-laps td {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #797979;
  border-bottom: 2px solid #464646;
}

.st-hr-no {
  width: 45px;
  max-width: 45px;
  padding-right: 7px;
}

.st-no {
  border-right: 2px solid #464646;
}

.st-hr-time {
  width: 70px;
}

.st-hr-grip {
  width: 55px;
}

.st-hr-sec {
  width: 70px;
}

.st-hr-cuts {
  width: 50px;
}

.st-hr-crashes {
  width: 70px;
  max-width: 70px;
}

.st-hr-car-crashes {
  width: 100px;
  max-width: 100px;
}

.st-hr-avg,
.st-hr-max {
  width: 90px;
  max-height: 90px;
}

.st-avg,
.st-max {
  text-transform: uppercase;
}

.st-hr-finish-time,
.st-finish-time {
  width: 230px;
  text-align: right;
}

.st-time,
.st-sec,
.st-grip,
.st-avg,
.st-max,
.st-cuts,
.st-crashes,
.st-car-crashes,
.st-finish-time {
  font-family: Roboto-Light;
  font-size: 15px;
  color: #cccaca;
}

.st-hr-time,
.st-time,
.st-hr-sec,
.st-sec,
.st-hr-grip,
.st-grip,
.st-hr-avg,
.st-avg,
.st-hr-max,
.st-max {
  text-align: right;
}

.st-hr-cuts,
.st-cuts,
.st-hr-crashes,
.st-crashes,
.st-hr-car-crashes,
.st-car-crashes {
  text-align: center;
}

.st-no {
  font-weight: bold;
}

.invalid-lap {
  background-color: #802626 !important;
}

.best-lap {
  background-color: #2d803e !important;
}

.stint-driver .lb-driver {
  width: auto;
}

#cover-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222222ba;
  z-index: 200;
  display: flex;
}

#cover-main {
  width: 800px;
  background: #262626;
  margin: auto;
  border: 2px solid #999;
  padding: 25px;
}

#team-car-class,
#team-name {
  font-size: 40px;
  max-width: 550px;
}

#team-car {
  font-size: 30px;
  text-align: center;
  color: #979797;
}

#team-name {
  color: #ff5757;
  font-family: Roboto-Light;
}

#drivers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#team-no {
  font-size: 20px;
  color: #979797;
  font-weight: bold;
  margin-right: 30px;
}

#team-header {
  margin-bottom: 30px;
  border-bottom: 2px solid #ff5757;
  padding-bottom: 10px;
}

.driver-country {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.driver-name {
  font-size: 20px;
  color: #cecece;
  line-height: 32px;
}

.driver {
  margin-bottom: 20px;
  padding: 5px;
}

#livery-preview img {
  width: 800px;
  color: #ff5757;
}

.activate-overlay {
  cursor: pointer;
}

.activate-overlay:hover {
  color: #6db4df !important;
}

#cover-main {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#track-map circle {
  transition: cx linear 1s, cy linear 1s;
}

#track-map {
  display: flex;
  justify-content: center;
}

.map-driver-names {
  white-space: nowrap;
  position: absolute;
  transition: top linear 1s, left linear 1s;
  background-color: rgb(62, 61, 61, 0.8);
  font-weight: bold;
  font-size: 14px;
  color: rgb(255, 247, 127);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map-driver-names .driver-pos {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  color: #000;
}

.map-driver-names .display-name {
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
}

.map-section {
  opacity: 0;
}

.map-section:hover {
  opacity: 1;
  cursor: help;
}

#map-section-tooltip {
  position: fixed;
  background-color: rgb(62, 61, 61, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(255, 247, 127);
  padding: 8px 12px;
}

#lb-tabs div {
  display: inline-block;
}

#lb-tabs {
  text-align: center;
  margin-top: 25px;
}

#tab-map {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

.svg-car-class-0 {
  fill: #32D296 !important;
}

.svg-car-class-1 {
  fill: #89a2d2 !important;
}

.svg-car-class-2 {
  fill: #EC6CBB !important;
}

.svg-car-class-3 {
  fill: #EF2D56 !important;
}

.svg-car-class-4 {
  fill: #E38D59 !important;
}

#event-param {
  width: 400px;
  margin-right: 20px;
}

#track-param {
  width: 300px;
  margin-right: 20px;
}

#entries-param {
  margin-right: 70px;
}

#cars-param {
  width: 300px;
  margin-right: 20px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  border: 0;
  color: #7cceff;
  background: #353535;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#selected-cars {
  padding: 10px;
  margin: 20px 0;
  border: 2px dotted #606060;
  width: 1140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-right: 100px;
}

.selected-car {
  padding: 5px 10px;
  background: #353535;
  color: #7cceff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 14px;
  margin: 5px;
}

.selected-car:hover {
  cursor: pointer;
  text-decoration: line-through;
  color: #a8a8a8;
}

.lb-hr-grip,
.lb-grip {
  width: 70px;
  text-align: right;
}

.lb-hr-avg,
.lb-avg {
  width: 90px;
  text-align: right;
}

.lb-hr-max,
.lb-max {
  width: 100px;
  text-align: right;
}

.lb-hr-finish-time,
.lb-finish-time {
  width: 220px;
  text-align: right;
}

#bestlaps {
  margin-top: 80px;
  margin-bottom: 80px
}

#bestlaps-header .lb-hr-pos,
#bestlaps-body .lb-pos {
  width: 45px;
}

#standings-body .lb-car,
#sec-body-1 .lb-car,
#sec-body-2 .lb-car,
#sec-body-3 .lb-car {
  border-right: 2px solid #464646;
}

#standings-body,
#sec-body-1,
#sec-body-2,
#sec-body-3,
#board-body,
#bestlaps-body {
  border-top: 2px solid #464646;
  border-bottom: 2px solid #464646;
}

.lb-grip,
.lb-max,
.lb-finish-time {
  font-family: Roboto-Light;
  font-size: 15px !important;
}

.lb-finish-time {
  text-transform: uppercase;
}

.pg-button {
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  color: #7cceff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  background: transparent;
  margin: 2px;
}

.pg-button:disabled,
.button:disabled {
  cursor: not-allowed;
  color: #797979;
}

.pg-button:hover {
  color: #ff5757;
}

.pg-button:disabled:hover {
  color: #797979;
}

#page-current {
  color: #ff5757;
  font-size: 20px;
  padding: 5px 15px;
}

#driver-param {
  width: 300px;
  margin-right: 30px;
}

#driver-param select {
  text-transform: none;
}

.driver-stats-label {
  font-size: 14px;
  color: #7cceff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.driver-stats-table thead td {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid #464646;
  padding-bottom: 10px;
}

.driver-stats-table tbody td {
  color: #cccaca;
  font-size: 16px;
  padding: 8px 5px;
}

.driver-stats-table tbody tr:nth-child(even) {
  background-color: #2f2f2f;
}

.driver-stats-table td:first-child {
  padding-left: 10px;
}

.driver-stats-table td:last-child {
  text-align: right;
  padding-right: 10px;
}

.driver-stats-table tbody tr:last-child {
  border-bottom: 2px solid #464646;
}

.ds-hr-event,
.ds-event {
  width: 500px;
}

.ds-hr-track,
.ds-track {
  width: 350px;
}

.ds-hr-distance,
.ds-distance {
  width: 120px;
}

.ds-hr-last-seen,
.ds-last-seen {
  width: 130px;
}

.ds-event,
.ds-track,
.ds-team {
  word-break: break-all;
}

.ds-hr-laps,
.ds-laps {
  width: 80px;
}

.ds-hr-valid-laps,
.ds-valid-laps {
  width: 110px;
}

.ds-hr-team,
.ds-team {
  width: 200px;
}

.ds-distance,
.ds-laps,
.ds-valid-laps,
.ds-last-seen {
  font-family: Roboto-Light;
  font-size: 15px !important;
  text-align: right;
}

.ds-team {
  border-right: 2px solid #464646;
}

#ds-middle,
#ds-bottom {
  display: flex;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

#basic-info ul {
  display: flex;
  justify-content: space-between;
}

#basic-info li {
  width: 120px;
  height: 80px;
  padding: 10px;
  border: 1px dotted #737373;
  background-color: #353535;
}

.ds-tag,
.ds-value {
  display: block;
}

.ds-tag {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #7cceff;
  font-weight: bold;
  height: 50px;
}

.ds-value {
  text-align: center;
  font-size: 20px;
  color: #fff77f;
}

.ds-driver-name {
  color: #ff5757;
  line-height: 40px;
  font-size: 20px;
}

.ds-driver-country {
  margin-right: 30px;
  display: inline-block;
  width: 32px;
  height: 32px;
}

#driver-detail {
  margin-bottom: 70px;
}

#ds-top {
  margin-top: 50px;
}

#ds-graphs {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

#logo {
  width: 50px;
  height: 50px;
  background: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#common-header #logo {
  float: right;
  padding: 0;
  border: 1px solid #424242;
  border-bottom: none;
  border-top: none;
}

#live-session-feed .title {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 20px;
  text-align: right;
}

#live-session-feed #feeds {
  max-height: 600px;
  overflow: auto;
}

.sf-time {
  color: #aaa;
  width: 140px;
  text-align: center;
  border-right: 2px solid #464646;
  border-left: 2px solid #464646;
}

.sf-car-class {
  width: 120px;
  text-align: center;
  color: #aaa;
}

.sf-detail {
  width: 600px;
  color: #aaa;
}

#feeds td {
  padding: 8px 0;
}

#feeds tr:nth-child(even) {
  background-color: #2f2f2f;
}

.feed-driver,.feed-team {
  color: #6db4df;
}

.feed-car {
  color: #fff77f;
}

#live-track-map {
  width: 50%;
}

#track-map-svg {
  position: relative;
}

#live-session-feed {
  max-width: 50%;
}

#track-missing {
  margin: 0;
}

.speed-status-green {
  color: #2db52d;
}

.speed-status-yellow {
  color: #fff77f;
}

.speed-status-red {
  color: #e34e4e;
}

.chat-hr-color {
  color: #728ee1;
}

.feed_user_msg {
  color: #fff77f;
}

#track-map .collision-indicator {
  background-color: #ee4040 !important;
}

.position-gain-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #2db52d;
  display: inline-block;
}

.position-lose-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #e34e4e;
  display: inline-block;
}

.lb-row-pit, .map-driver-names .pit-indicator {
  background-color: #5353ffb3;
}

.lb-row-offtrack, .map-driver-names .offtrack-indicator {
  background-color: #939314e8;
}

td .tooltip {
  border-bottom: 2px dotted;
  cursor: help;
}