body {
  background-color: #262626;
}

main {
  margin: auto;
}

.clear-both {
  display: block;
  clear: both;
}

.hidden {
  display: none !important;
}

#events-page main {
  margin-top: 100px;
  padding: 0 200px;
}

#event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#event-container a {
  margin-bottom: 50px;
}

.event {
  width: 420px;
}

.event .title {
  font-size: 30px;
  color: #a8a8a8;
  text-align: center;
  background-color: #353535;
  padding: 10px;
  font-family: Roboto-Light, Arial;
  word-wrap: break-word;
}

.live-event .title {
  color: #ff5757;
}

.event .server-container {
  padding: 8px 10px;
  background-color: #353535;
  color: #fff;
  border-top: 2px solid #535353;
}

.event .server {
  float: left;
  font-family: Roboto-Light, Arial;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #6db4df;
  font-weight: bold;
}

@keyframes live-color {
  0% {
    background-color: #ea4949;
  }
  50% {
    background-color: transparent
  }
  100% {
    background-color: #ea4949;
  }
}

.event .active {
  animation-name: live-color;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

.event .live {
  width: 14px;
  height: 14px;
  float: left;
  margin-top: 3px;
  margin-right: 7px;
  border-radius: 8px;
}

.event .team {
  float: right;
  width: 16px;
  height: 16px;
  background-image: url("/images/team.png");
  background-size: cover;
}

.event .track {
  clear: both;
  border: 5px solid #353535;
}

.track .detail {
  float: left;
}

.time .tag {
  text-transform: uppercase;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: bold;
}

.time .date {
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: bold;
}

.event .time {
  background-color: #353535;
  padding: 5px 10px;
}

.detail {
  background-color: #4a435e;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.detail p {
  font-size: 14px;
  text-transform: uppercase;
}

.detail .name {
  float: left;
}

.detail .length {
  float: right;
}

.track .preview {
  text-align: center;
  padding: 10px;
}

.preview img {
  height: 180px;
}

#lb-page header {
  padding: 20px 50px 15px 50px;
  border-bottom: 2px solid #464646;
  display: flex;
  justify-content: space-between;
}

#lb-page #home-link {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  text-align: center;
}

#home-link a {
  color: #7cceff;
  padding: 5px;
  display: inline-block;
  background: #3e3e3e;
  border-radius: 5px;
  text-transform: uppercase;
}

#event-detail .title {
  color: #ff5757;
  font-size: 30px;
  font-family: Roboto-Light;
}

#event-detail .server {
  color: #d3d3d3;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
  margin-top: 5px;
}

#event-detail .timing {
  margin-top: 5px;
}

#event-detail .tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #797979;
  display: inline-block;
  width: 150px;
  margin-left: 20px;
}

#event-detail .date {
  color: #fff77f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#track-condition .tag {
  color: #797979;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  text-align: right;
}

#track-condition .value {
  color: #fff77f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

#track-detail img {
  height: 80px;
}

#track-detail>div {
  float: right;
}

#track-condition {
  padding-top: 5px;
  margin-right: 20px;
}

#track-preview {
  text-align: center;
}

#track-detail .name,
#track-detail .country {
  text-align: center;
  color: #fff77f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.timing .active {
  width: 14px;
  height: 14px;
  float: left;
  border-radius: 7px;
  animation-name: live-color;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  margin-top: 3px;
  position: absolute;
}

#remaining {
  position: relative;
}

#remaining .remain-time,
#remaining .remain-laps {
  font-size: 35px;
  color: #38c438;
  border-radius: 10px;
  border: 2px solid;
  padding: 0 15px;
  margin-top: 25px;
  display: inline-block;
  width: 180px;
  text-align: center;
  font-weight: bold;
}

#leader-board {
  padding-top: 20px;
  padding-bottom: 20px;
}

#race-feed {
  display: none;
  padding: 20px 0 20px 30px;
  border-left: 2px solid #464646;
  width: 400px;
}

#board-header {
  border-bottom: 2px solid #464646;
  padding-bottom: 20px;
}

#board-header li {
  float: left;
  color: #7cceff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

#board-body li {
  float: left;
  color: #e3e3e3;
  font-size: 16px;
  padding: 5px;
}

.lb-pos,
.lb-hr-pos {
  width: 35px;
  padding-left: 8px !important;
  font-weight: bold;
  text-align: left;
}

.lb-hr-pos,
.lb-hr-driver {
  padding-right: 7px !important;
}

.lb-pos,
.lb-driver {
  border-right: 2px solid #464646;
}

.lb-status,
.lb-hr-status {
  width: 70px;
  text-align: center;
}

.lb-car-class,
.lb-hr-car-class {
  width: 70px;
  text-align: left;
}

.lb-car,
.lb-hr-car {
  width: 280px;
  display: flex;
  align-items: center;
}

.lb-team-no,
.lb-hr-team-no {
  width: 60px;
  font-weight: bold;
}

.lb-team,
.lb-hr-team {
  width: 180px;
}

.lb-driver,
.lb-hr-driver {
  width: 200px;
}

.lb-car,
.lb-driver {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lb-best-lap,
.lb-hr-best-lap,
.lb-last-lap,
.lb-hr-last-lap {
  width: 90px;
  text-align: right;
}

.lb-gap,
.lb-hr-gap {
  width: 80px;
  text-align: right;
}

.lb-interval,
.lb-hr-interval {
  width: 90px;
  text-align: right;
}

.lb-sec1,
.lb-hr-sec1,
.lb-sec2,
.lb-hr-sec2,
.lb-sec3,
.lb-hr-sec3 {
  width: 90px;
  text-align: right;
}

.lb-laps,
.lb-hr-laps {
  width: 55px;
  text-align: right;
  padding-right: 8px !important;
}

.lb-crashes,
.lb-hr-crashes {
  width: 85px;
  text-align: right;
}

.lb-team-no,
.lb-hr-crashes {
  text-align: center;
}

.car-badge {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

#board-body ul:nth-child(even) {
  background-color: #2f2f2f;
}

#lb-page main {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}

#lb-page footer {
  border-top: 2px solid #464646;
}

.purple-sec {
  color: #d956d9 !important;
  font-weight: bold;
}

.red-sec {
  color: #ff5757 !important;
  font-weight: bold;
}

.green-sec {
  color: #2ed52e !important;
  font-weight: bold;
}

.status-green {
  background-color: #2ed52e;
}

.status-yellow {
  background-color: #fff77f;
}

.status-red {
  background-color: #e34e4e;
}

.status-chequered {
  background-color: #fff;
  border-top: 7px solid #575757;
  border-bottom: 7px solid #575757;
  border-right: 7px solid #fff;
  border-left: 7px solid #fff;
  transform: rotate(45deg);
  width: 0 !important;
  height: 0 !important;
}

.lb-status .status {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

#race-feed .title {
  color: #7cceff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #464646;
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 10px;
}

#race-feed .feeds {
  margin-top: 15px;
}

.feeds li {
  color: #e3e3e3;
  padding: 2px 0;
}

.car-class-0 {
  color: #F4945B !important;
}

.car-class-1 {
  color: #AF95F9 !important;
}

.car-class-2 {
  color: #EC6CBB !important;
}

.car-class-3 {
  color: #EF2D56 !important;
}

.car-class-4 {
  color: #32D296 !important;
}

#message {
  color: #ff5757;
  text-align: center;
  font-size: 25px;
  padding: 15px;
}

#common-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #424242;
  height: 50px;
  background-color: #1e1e1e;
}

#common-header ul {
  padding-left: 200px;
}

#common-header li {
  float: left;
  line-height: 50px;
  padding: 0 25px;
}

#common-header li.active {
  border-bottom: 3px solid #6db4df;
}

#common-header li:first-child {
  padding-left: 0;
}

#common-header li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #a8a8a8;
  transition: color .3s;
}

li a.red {
  color: #ff5757 !important;
}

#common-header li a:hover {
  color: #7cceff;
}

#event-sidebar {
  width: 200px;
  background-color: green;
}

#event-main {
  background-color: blue;
}
